@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock-title {
  font-size: xx-large;
  color: coral;
  font-weight: bold;
}

#clock-text {
  font-weight: bold;
  font-size: xx-large;
  color: crimson;
}
